body {
    background: rgb(89, 175, 255);
    font: normal 20pt Arial;
}
header {
    text-align: center;
    color: gold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
section {
    background: snow;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
div {
    text-align: left;
    padding: 7px;
}
select#seltab {
    width: 150px;
}
footer {
    color: white;
    text-align: center;
    padding: 25px;
    font-style: italic;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}